# This is a basic workflow to help you get started with Actions

name: R-script-demo

# Controls when the workflow will run
on:
  schedule:
    # * is a special character in YAML so you have to quote this string
    - cron:  '*/10 * * * *'

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  runs-r-script:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    env:
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}
      
    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v4
      - uses: r-lib/actions/setup-r@v2
      
      # Runs a single command using the runners shell
      - name: Installing R packages
        run:  |
          install.packages(c("devtools","rjson","xts","dplyr","magrittr","rvest","tibble","TTR","assertthat","janitor","lubridate","quantmod","snakecase","stringr","tidyr","httr","progress"))
        shell: Rscript {0}

      # Runs a set of commands using the runners shell
      - name: Running the code
        run: | 
        devtools::install_github("Hussain-Alsalman/tasi")
        shell: Rscript {0}
        
        
