# This is a basic workflow to help you get started with Actions

name: R-script-demo

# Controls when the workflow will run
on:
  schedule:
    # * is a special character in YAML so you have to quote this string
    - cron:  '*/30 * * * *'

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  runs-r-script:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    env:
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}
      
    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      - uses: actions/checkout@v4
      - uses: r-lib/actions/setup-r@v2
      
      - name: Install libcurl on Linux
        if: runner.os == 'Linux'
        run: sudo apt-get update -y && sudo apt-get install -y libcurl4-openssl-dev
      # Runs a single command using the runners shell
      - name: Install packages
        uses: r-lib/actions/setup-r-dependencies@v2
        with:
          cache-version: 2
          packages: |
            any::devtools
            any::rjson
            any::xts
            any::dplyr
            any::magrittr
            any::rvest
            any::tibble
            any::TTR
            any::assertthat
            any::janitor
            any::lubridate
            any::quantmod
            any::snakecase
            any::stringr
            any::tidyr
            any::httr
            any::progress

      # Runs a set of commands using the runners shell
      - name: Running the code
        run: | 
          devtools::install_github("Hussain-Alsalman/tasi")
          source("./job.r")
        shell: Rscript {0}
        
        
